extends layout

block content
  h1 Search Results Tattoos
  - 
    let results = [
      {
        customer: "John", 
        duration: 1,
        cost: 80.0,  
        colored: false 
      },
      {
        customer: "Sarah", 
        duration: 2,
        cost: 160.0,  
        colored: false 
      },
      {
        customer: "John", 
        duration: 1,
        cost: 100.0,  
        colored: true 
      }
    ]

  div.container-fluid
      div.row
        each person in results
          div.col-sm-2
            p Customer: #{person.customer}
            p Duration (in hours): #{person.duration}
            p Cost: #{person.cost}
            p Colored: #{person.colored}
